.Header{
    width: auto;
    float: right;
    right: 0;
    position: relative;
}

.portfolio{
    margin-right: 28px;
    vertical-align: bottom
}

.portfolio:hover{
    cursor: pointer;
}

.dayNightIcon{
    vertical-align: bottom
}

@media only screen and (max-width: 499px) { 
    .dayNightIcon{
        vertical-align: bottom
    }

    .portfolioText{
        font-size: 24;
    }
}
