.Home{

}

.textLarge {
    margin: 0;
    display: 'inline';
    font-size: 32pt;
    color: #494949;
    display: block;
}

.itsNestedIf {
    margin-left: 8px;
    margin-top: 10px;
    font-size: 18dp;
    color: #C3C3C3;
    display: inline-block
}

