.Home{
    width: 90vw;
}

.textLarge {
    margin: 0;
    font-size: 34;
    color: #494949;
}

@media only screen and (max-width: 360px) { 
    .textLarge {
        margin: 0;
        font-size: 32pt;
        color: #494949;
    }
}

.itsNestedIf {
    margin-left: 8px;
    margin-top: 10px;
    font-size: 18dp;
    color: #C3C3C3;
    display: inline-block
}

