.carouselWrapper{
    max-width: 65%;
    height: auto;
    width: 65%;
    min-width: 65%;
    display: inline-block;
}

.carouselWrapper:first-child{
    margin-left: 64px;
}

.carouselWrapper:last-child{
    margin-right: 64px;
}


.carouselWrapper{
    padding-right: 32px;
    white-space: initial;
}

.imageCarousel{
    width: 100%;
    height: 210px;
    border-radius: 16px;
    background: #FF8989;
    display: inline-block;   
}

.projectTitle{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.projectDesc{

    text-overflow: ellipsis;
    max-width: 260px;
    height: 60px;
    margin-top: 8px;
    text-align: start;
    display: block;
}