.carousel{
    display: inline-flex;
    margin-right: -16px;
    margin-left: -16px;
    margin-top: 40px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap
}

.carousel::-webkit-scrollbar-track
{
	background-color: transparent;
}

.carousel::-webkit-scrollbar
{
	background-color: transparent;
}

.carousel::-webkit-scrollbar-thumb
{
	background-color: transparent;
}
